<%= javascript_include_tag "alarms/form" %>

<%= form_for(@alarm, :html => { :role => "form"}, :remote => !@alarm.new_record? ) do |f| %>
  <div id="form-group-name" class="form-group <%= h has_error_class(@alarm.errors, :name) %>">
    <%= f.text_field :name, :class => "form-control input-lg", :maxlength => 250, :placeholder => "Nombre de la alarma (obligatorio)" %>
    <%= render :partial => "shared/control_error_text", :locals => { :errors => @alarm.errors, :symbol => :name } %>
  </div>
  <div id="form-group-description" class="form-group <%= h has_error_class(@alarm.errors, :name) %>">
    <%= f.text_area :description, :size => "60x6", :maxlength => 600, :class => "form-control input-lg", :placeholder => "Descripción de la alarma" %>
    <%= render :partial => "shared/control_error_text", :locals => { :errors => @alarm.errors, :symbol => :description } %>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
    <% if @alarm.new_record? %>
      <a class="btn btn-warning btn-lg" href="<%= alarms_path %>">Cancelar</a>
    <% else %>
      <button id="cancel-edit-alarm" type="button" class="btn btn-warning btn-lg">Cancelar</button>
    <% end %>
  </div>
<% end %>
